<div>
    <div>
        <h1>Agregar usuario</h1>
    </div>
    <div>

        <div>
            <form>
                <div>
                    <label for="inputEmail">Email</label>
                    <input type="text" id="inputEmail">
                </div>
                <div>
                    <label for="inputPassword">Contraseña</label>
                    <input type="text" id="inputPassword">
                </div>
                <button type="submit">Guardar</button>
                <button type="button" (click)="regresar()">Cancelar</button>
            </form>
        </div>


    </div>
</div>